<html>
<head>
  <!-- META DATA -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="">
	<meta name="author" content="">

	<title>微信小程序大全-持续更新中(建议收藏)</title>
	
	<link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">
	<link href="css/snackbar.min.css" rel="stylesheet">
	<link href="css/material.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	
</head>

 <body class="index-page">

	<!-- Navigation -->
	<div class="header">
	  <div class="logoimg">
	    <a href="http://www.chenning.xyz/"><img src="images/home.png" title="持续更新中-建议收藏" data-toggle="tooltip" data-placement="bottom" width="78"></a>
	  </div>
	  <div class="container">
	    <div class="row">
	      <div class="col-xs-12">
		      <div class="logotxt">
		      	<h1>
							<input type="text" class="search-query" placeholder="">
		      	</h1>
		      </div> 
		      <h3 class="site-name text-center">小程序大全</h3>
		      <h5 class="site-name text-center">www.chenning.xyz</h5>
		    </div>
	    </div>
	  </div>
	</div>
	<!-- Navigation -->

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container" id="app">
				
				
				<div class="row" v-show="search.show">
					<div class="col-md-12">
						<div class="box-item">
							<div class="content">
								<ul class="list-group">
								  <li v-for="item in search.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					
						<!-- //////////// 第一列 ///////////-->
					<div class="col-md-4">
						<div class="box-item">
							<div class="content">
								<h3>{{gpsy.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in gpsy.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{jt.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in jt.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{gj.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in gj.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{tqcx.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in tqcx.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{yd.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in yd.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						
						
					</div>
					
					
					
					
					
					<!-- //////////// 第二列 ///////////-->
					<div class="col-md-4">
						<div class="box-item">
							<div class="content">
								<h3>{{lx.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in lx.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{jkyl.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in jkyl.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{jypx.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in jypx.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{tzlc.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in tzlc.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{sp.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in sp.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{ty.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in ty.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{qz.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in qz.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{sq.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in sq.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
					</div>
					
					
					
					
					
					
					<!-- //////////// 第三列 ///////////-->
					<div class="col-md-4">
						<div class="box-item">
							<div class="content">
								<h3>{{gw.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in gw.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{tp.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in tp.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{kdcx.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in kdcx.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						<div class="box-item">
							<div class="content">
								<h3>{{pw.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in pw.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{ms.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in ms.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{bqb.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in bqb.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{yp.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in yp.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>	
						
						<div class="box-item">
							<div class="content">
								<h3>{{mz.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in mz.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{yx.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in yx.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
						<div class="box-item">
							<div class="content">
								<h3>{{zmt.classif}}</h3>
								<ul class="list-group">
								  <li v-for="item in zmt.items" class="list-group-item">
								    <span class="label label-success btn-fr btn" :data-clipboard-text="item">复制</span>
								   	{{item}}
								  </li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- FOOTER -->
	
  
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/snackbar.min.js"></script>
	<script src="js/clipboard.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/script.js"></script>
	
</body>
</html>





	

